<header class="header">
  <div class="container nav-container">
    <a href="/index.html" class="logo">
      <img
        src="../assets/images/logo.png"
        alt="QualificaHub Logo"
        class="logo-img"
      />
    </a>

    <nav>
      <ul class="nav-menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../pages/courses.html">Cursos</a></li>
        <li><a href="../pages/trails.html">Trilhas</a></li>
        <li><a href="../pages/about.html">Sobre</a></li>
        <li><a href="../pages/contact.html">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
